Repository mongodb/laravel-mongodb, pull requests merged in 2020-01, with the labels that each got.

#1835 HybridRelations::morphTo() needs to respect $ownerKey
  src/Jenssegers/Mongodb/Eloquent/HybridRelations.php
Labels: candidate-for-release

#1922 [refactor] Replaced Coveralls with Codecov
  .github/workflows/build-ci.yml
  README.md
  composer.json
Labels: Need work

#1923 Update ci file and composer dependencies
  .github/workflows/build-ci.yml
  composer.json
Labels: Need Code Review, enhancement

#1917 [refactor] Readme
  README.md
Labels: enhancement

#1871 Add MorphMany relation to replaced whereIn method.
  src/Jenssegers/Mongodb/Eloquent/HybridRelations.php
  src/Jenssegers/Mongodb/Relations/MorphMany.php
Labels: candidate-for-release

#1837 HasOne / HasMany must respect $localKey parameter
  src/Jenssegers/Mongodb/Helpers/QueriesRelationships.php
Labels: Need work

#1933 [Updated PR#1746] Add MustVerifyEmail
  src/Jenssegers/Mongodb/Auth/User.php
Labels: candidate-for-release

#1746 Add MustVerifyEmail
  src/Jenssegers/Mongodb/Auth/User.php
Labels: Need work

#1939 [Updated PR#1556] Allow setting hint option on QueryBuilder
  src/Jenssegers/Mongodb/Query/Builder.php
  tests/QueryBuilderTest.php
Labels: candidate-for-release
