Repository mongodb/laravel-mongodb, pull requests merged in 2024-05, with the labels that each got.

#2894 DOCSP-35939: tls
  docs/fundamentals/connection.txt
  docs/fundamentals/connection/tls.txt
Labels: docs

#2971 Customize changelog categories in generated release notes
  .github/release.yml
  RELEASING.md
Labels: ignore-for-release

#2972 Automatically label docs PR
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ignore-for-release

#2975 Improve error message for invalid configuration
  CHANGELOG.md
  src/Connection.php
  tests/ConnectionTest.php
Labels: bug
