Repository mongodb/laravel-mongodb, pull requests merged in 2024-08, with the labels that each got.

#3090 Move code ownership for docs to Laravel Docs team
  .github/CODEOWNERS
Labels: github

#3089 DOCSP-41621: upsert
  docs/feature-compatibility.txt
  docs/fundamentals/write-operations.txt
  docs/includes/fundamentals/write-operations/WriteOperationsTest.php
  docs/includes/query-builder/QueryBuilderTest.php
  docs/includes/query-builder/sample_mflix.movies.json
  docs/query-builder.txt
Labels: docs

#3095 Fix missing bracket in config snippet
  docs/quick-start/configure-mongodb.txt
Labels: docs

#3088 DOCSP-41741: incrementEach and decrementEach
  docs/includes/query-builder/QueryBuilderTest.php
  docs/query-builder.txt
Labels: docs

#3084 DOCSP-41557: New v4.7 commands and methods
  docs/fundamentals/database-collection.txt
Labels: docs

#3040 PHPORM-147 Make `id` an alias for `_id`
  CHANGELOG.md
  docs/includes/auth/PersonalAccessToken.php
  docs/includes/eloquent-models/PlanetThirdParty.php
  docs/includes/fundamentals/write-operations/WriteOperationsTest.php
  docs/includes/usage-examples/DeleteOneTest.php
  docs/includes/usage-examples/FindManyTest.php
  docs/includes/usage-examples/FindOneTest.php
  docs/includes/usage-examples/InsertOneTest.php
  docs/includes/usage-examples/UpdateOneTest.php
  src/Auth/User.php
  src/Eloquent/DocumentModel.php
  src/Eloquent/Model.php
  src/Query/Builder.php
  src/Relations/EmbedsMany.php
  src/Relations/EmbedsOne.php
  tests/AuthTest.php
  tests/EmbeddedRelationsTest.php
  tests/HybridRelationsTest.php
  tests/ModelTest.php
  tests/Models/Address.php
  tests/Models/Birthday.php
  tests/Models/Client.php
  tests/Models/Experience.php
  tests/Models/Group.php
  tests/Models/Guarded.php
  tests/Models/HiddenAnimal.php
  tests/Models/IdIsBinaryUuid.php
  tests/Models/IdIsInt.php
  tests/Models/IdIsString.php
  tests/Models/Item.php
  tests/Models/Label.php
  tests/Models/Location.php
  tests/Models/Photo.php
  tests/Models/Role.php
  tests/Models/Scoped.php
  tests/Models/Skill.php
  tests/Models/Soft.php
  tests/Models/User.php
  tests/Query/BuilderTest.php
  tests/QueryBuilderTest.php
  tests/QueryTest.php
  tests/QueueTest.php
  tests/RelationsTest.php
  tests/SessionTest.php
  tests/Ticket/GH2489Test.php
  tests/Ticket/GH2783Test.php
  tests/TransactionTest.php
Labels: docs

#3110 DOCSP-42155: adjust for updated source constants
  docs/cache.txt
  docs/compatibility.txt
  docs/eloquent-models.txt
  docs/eloquent-models/model-class.txt
  docs/eloquent-models/relationships.txt
  docs/eloquent-models/schema-builder.txt
  docs/feature-compatibility.txt
  docs/fundamentals.txt
  docs/fundamentals/aggregation-builder.txt
  docs/fundamentals/connection.txt
  docs/fundamentals/connection/connect-to-mongodb.txt
  docs/fundamentals/database-collection.txt
  docs/fundamentals/read-operations.txt
  docs/fundamentals/write-operations.txt
  docs/includes/framework-compatibility-laravel.rst
  docs/index.txt
  docs/issues-and-help.txt
  docs/query-builder.txt
  docs/quick-start.txt
  docs/quick-start/download-and-install.txt
  docs/quick-start/next-steps.txt
  docs/quick-start/view-data.txt
  docs/quick-start/write-data.txt
  docs/transactions.txt
  docs/upgrade.txt
  docs/usage-examples/deleteMany.txt
  docs/usage-examples/deleteOne.txt
  docs/usage-examples/find.txt
  docs/usage-examples/findOne.txt
  docs/usage-examples/updateMany.txt
  docs/usage-examples/updateOne.txt
  docs/user-authentication.txt
Labels: docs

#3100 PHPORM-227 Fix single document upsert
  CHANGELOG.md
  src/Query/Builder.php
  tests/ModelTest.php
  tests/QueryBuilderTest.php
Labels: bug

#3114 DOCSP-42818: wherelike and wherenotlike docs
  docs/includes/query-builder/QueryBuilderTest.php
  docs/includes/query-builder/sample_mflix.movies.json
  docs/query-builder.txt
Labels: docs

#3107 PHPORM-229 Make Query\Builder return objects instead of array to match Laravel behavior
  CHANGELOG.md
  docs/includes/query-builder/QueryBuilderTest.php
  src/Query/Builder.php
  src/Queue/Failed/MongoFailedJobProvider.php
  src/Queue/MongoQueue.php
  tests/AuthTest.php
  tests/Query/BuilderTest.php
  tests/QueryBuilderTest.php
  tests/QueueTest.php
  tests/SchemaTest.php
  tests/SchemaVersionTest.php
  tests/TransactionTest.php
Labels: docs

#3113 DOCSP-42794: Laravel Passport
  docs/includes/auth/AppServiceProvider.php
  docs/user-authentication.txt
Labels: docs

#3125 DOCSP-43115 - v4.8 compat
  docs/includes/framework-compatibility-laravel.rst
Labels: docs
