Repository mongodb/laravel-mongodb, pull requests merged in 2024-06, with the labels that each got.

#2985 PHPORM-186 GridFS adapter for Filesystem
  CHANGELOG.md
  composer.json
  docs/filesystems.txt
  src/MongoDBServiceProvider.php
  tests/FilesystemsTest.php
Labels: enhancement, docs

#2995 v4.4 compat table
  docs/includes/framework-compatibility-laravel.rst
Labels: docs

#2993 PHPORM-186 Review of GridFS docs
  docs/filesystems.txt
Labels: docs, minor

#2998 PHPORM-190: Update drivers-github-tools to v2
  .github/workflows/release.yml
Labels: github

#2997 v4.5 compat table
  docs/includes/framework-compatibility-laravel.rst
Labels: docs, minor

#3004 PHPORM-185, PHPORM-191, PHPORM-192: Publish SSDLC assets on release
  .github/workflows/coding-standards.yml
  .github/workflows/release.yml
  .github/workflows/static-analysis.yml
Labels: github

#3006 Upload code scanning results to correct ref when releasing
  .github/workflows/static-analysis.yml
Labels: github

#3010 Use full-report convenience action for SSDLC reports
  .github/workflows/release.yml
Labels: github

#2994 DOCSP-39849: revise job batching docs
  docs/queues.txt
Labels: docs

#3009 Add link to filesystems docs
  docs/index.txt
Labels: docs
