Repository mongodb/laravel-mongodb, pull requests merged in 2024-07, with the labels that each got.

#2580 Move model to a trait
  CHANGELOG.md
  phpstan-baseline.neon
  src/Auth/User.php
  src/Eloquent/DocumentModel.php
  src/Eloquent/HybridRelations.php
  src/Eloquent/Model.php
  src/Helpers/QueriesRelationships.php
  src/Relations/BelongsToMany.php
  src/Relations/EmbedsMany.php
  src/Relations/EmbedsOneOrMany.php
  src/Relations/MorphToMany.php
  tests/Eloquent/ModelTest.php
  tests/ModelTest.php
  tests/Models/Address.php
  tests/Models/Birthday.php
  tests/Models/Book.php
  tests/Models/CastObjectId.php
  tests/Models/Casting.php
  tests/Models/Client.php
  tests/Models/Experience.php
  tests/Models/Group.php
  tests/Models/Guarded.php
  tests/Models/HiddenAnimal.php
  tests/Models/IdIsBinaryUuid.php
  tests/Models/IdIsInt.php
  tests/Models/IdIsString.php
  tests/Models/Item.php
  tests/Models/Label.php
  tests/Models/Location.php
  tests/Models/Photo.php
  tests/Models/Role.php
  tests/Models/Scoped.php
  tests/Models/Skill.php
  tests/Models/Soft.php
  tests/Models/SqlBook.php
  tests/Models/SqlRole.php
  tests/Models/SqlUser.php
  tests/Models/User.php
  tests/RelationsTest.php
  tests/TransactionTest.php
Labels: enhancement

#3028 DOCSP-38380: array reads
  docs/fundamentals/read-operations.txt
  docs/includes/fundamentals/read-operations/ReadOperationsTest.php
Labels: docs

#3027 Paginator total override and accept Closure
  CHANGELOG.md
  src/Relations/EmbedsMany.php
  tests/EmbeddedRelationsTest.php
Labels: enhancement

#3021 Add document version feature
  CHANGELOG.md
  src/Eloquent/HasSchemaVersion.php
  tests/Models/SchemaVersion.php
  tests/SchemaVersionTest.php
Labels: enhancement

#3036 DOCSP-41305: update compat table for 4.6
  docs/includes/framework-compatibility-laravel.rst
Labels: docs

#3043 Implement `Connection::getServerVersion`
  CHANGELOG.md
  src/Connection.php
  tests/ConnectionTest.php
Labels: enhancement

#3034 DOCSP-38100: User authentication
  docs/includes/auth/AuthController.php
  docs/includes/auth/AuthUser.php
  docs/user-authentication.txt
Labels: docs

#3048 DOCSP-41472: txn learning byte link
  docs/transactions.txt
Labels: docs

#3053 PHPORM-114 Implement `Builder::upsert`
  CHANGELOG.md
  src/Query/Builder.php
  tests/ModelTest.php
  tests/QueryBuilderTest.php
Labels: enhancement

#3052 PHPORM-211 Fix unsetting property in embedded model
  CHANGELOG.md
  src/Relations/EmbedsOneOrMany.php
  tests/EmbeddedRelationsTest.php
Labels: fixed

#3050 DOCSP-41241: Laravel Sanctum
  docs/includes/auth/PersonalAccessToken.php
  docs/user-authentication.txt
Labels: docs

#3051 DOCSP-41306: schema version trait
  docs/eloquent-models/model-class.txt
  docs/includes/eloquent-models/PlanetSchemaVersion1.php
  docs/includes/eloquent-models/PlanetSchemaVersion2.php
  docs/includes/eloquent-models/SchemaVersionTest.php
Labels: docs

#3058 DOCSP-41628: v4.7 docs version update
  docs/includes/framework-compatibility-laravel.rst
Labels: docs

#3062 PHPORM-219 Deprecate `Connection::collection()` and `Schema::collection()`
  CHANGELOG.md
  docs/fundamentals/database-collection.txt
  docs/includes/query-builder/QueryBuilderTest.php
  docs/query-builder.txt
  src/Connection.php
  src/Queue/MongoQueue.php
  src/Schema/Builder.php
  tests/AuthTest.php
  tests/ConnectionTest.php
  tests/GeospatialTest.php
  tests/QueryBuilderTest.php
  tests/Queue/Failed/MongoFailedJobProviderTest.php
  tests/SchemaTest.php
  tests/SchemaVersionTest.php
  tests/Seeder/UserTableSeeder.php
  tests/TransactionTest.php
Labels: docs

#3065 DOCSP-41336: documentmodel trait
  docs/eloquent-models/model-class.txt
  docs/includes/eloquent-models/PlanetThirdParty.php
  docs/user-authentication.txt
Labels: docs

#3064 PHPORM-220 Deprecate using the `$collection` property to customize the name
  CHANGELOG.md
  docs/eloquent-models/model-class.txt
  docs/includes/auth/AuthUser.php
  docs/includes/auth/PersonalAccessToken.php
  docs/includes/eloquent-models/PlanetCollection.php
  docs/includes/fundamentals/read-operations/Movie.php
  docs/includes/usage-examples/Movie.php
  src/Eloquent/DocumentModel.php
  tests/Models/Birthday.php
  tests/Models/Book.php
  tests/Models/Casting.php
  tests/Models/Client.php
  tests/Models/Experience.php
  tests/Models/Group.php
  tests/Models/Guarded.php
  tests/Models/Item.php
  tests/Models/Label.php
  tests/Models/Location.php
  tests/Models/Photo.php
  tests/Models/Role.php
  tests/Models/SchemaVersion.php
  tests/Models/Scoped.php
  tests/Models/Skill.php
  tests/Models/Soft.php
Labels: docs

#3071 PHPORM-222 Register the `BusServiceProvider` when `BatchRepository` is built
  src/MongoDBBusServiceProvider.php
Labels: bug

#3081 DOCSP-41680: Remove quick start buttons
  docs/quick-start.txt
  docs/quick-start/configure-mongodb.txt
  docs/quick-start/create-a-connection-string.txt
  docs/quick-start/create-a-deployment.txt
  docs/quick-start/download-and-install.txt
  docs/quick-start/view-data.txt
  docs/quick-start/write-data.txt
Labels: docs

#3074 Fix wrong name for driver options in docs
  docs/fundamentals/connection/connect-to-mongodb.txt
  docs/fundamentals/connection/connection-options.txt
Labels: docs
