Repository mongodb/laravel-mongodb, pull requests merged in 2024-09, with the labels that each got.

#3121 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github

#3122 PHPORM-231 Remove MongoFailedJobProvider
  CHANGELOG.md
  src/MongoDBQueueServiceProvider.php
  src/Query/Builder.php
  src/Queue/Failed/MongoFailedJobProvider.php
  tests/QueryTest.php
  tests/Queue/Failed/DatabaseFailedJobProviderTest.php
  tests/QueueTest.php
  tests/TestCase.php
Labels: enhancement

#3119 PHPORM-234 Convert dates in DB Query results
  CHANGELOG.md
  src/Eloquent/DocumentModel.php
  src/Query/Builder.php
  tests/AuthTest.php
  tests/QueryBuilderTest.php
  tests/QueueTest.php
Labels: enhancement

#3124 PHPORM-235 Remove custom DatabaseTokenRepository
  CHANGELOG.md
  src/Auth/DatabaseTokenRepository.php
  src/Auth/PasswordBrokerManager.php
  src/Auth/PasswordResetServiceProvider.php
  tests/TestCase.php
Labels: enhancement

#3133 DOCSP-43158: carbon date values db query results
  docs/eloquent-models/model-class.txt
  docs/query-builder.txt
  docs/upgrade.txt
Labels: docs

#3136 PHPORM-236 Remove _id from query results
  CHANGELOG.md
  docs/includes/usage-examples/FindOneTest.php
  src/Query/Builder.php
  tests/QueryBuilderTest.php
  tests/Queue/Failed/DatabaseFailedJobProviderTest.php
Labels: docs

#3042 DOCSP-41335: Id field alias
  docs/eloquent-models/model-class.txt
  docs/includes/query-builder/QueryBuilderTest.php
  docs/query-builder.txt
  docs/upgrade.txt
Labels: docs

#3137 PHPORM-56 Replace Collection proxy class with Driver monitoring
  CHANGELOG.md
  composer.json
  docs/includes/query-builder/QueryBuilderTest.php
  src/Bus/MongoBatchRepository.php
  src/Cache/MongoLock.php
  src/Cache/MongoStore.php
  src/Collection.php
  src/CommandSubscriber.php
  src/Connection.php
  src/Query/AggregationBuilder.php
  src/Query/Builder.php
  src/Schema/Blueprint.php
  tests/Cache/MongoLockTest.php
  tests/Casts/DecimalTest.php
  tests/CollectionTest.php
  tests/ConnectionTest.php
  tests/ModelTest.php
  tests/QueryBuilderTest.php
Labels: enhancement, docs

#3139 Modernize code with rector
  composer.json
  rector.php
  src/Bus/MongoBatchRepository.php
  src/Helpers/QueriesRelationships.php
  src/Query/Builder.php
  tests/PHPStan/SarifErrorFormatter.php
Labels: minor

#3130 DOCSP-43172: Remove DatabaseTokenRepository class
  docs/upgrade.txt
Labels: docs

#3135 DOCSP-43159: QB returns objects
  docs/query-builder.txt
  docs/upgrade.txt
Labels: docs

#3140 DOCSP-42957: DateTimeInterface in queries
  docs/includes/query-builder/QueryBuilderTest.php
  docs/query-builder.txt
  docs/upgrade.txt
Labels: docs

#3143 Update merge-up config for new branch pattern
  .github/workflows/merge-up.yml
Labels: github

#3148 Re-enable support for Laravel 10
  .github/workflows/build-ci.yml
  .github/workflows/static-analysis.yml
  CHANGELOG.md
  composer.json
Labels: github

#3149 DOCSP-43530: Id field in query results
  docs/query-builder.txt
  docs/upgrade.txt
Labels: docs

#3145 PHPORM-205: Automate branch creation when releasing
  .github/workflows/release.yml
Labels: github
