Repository mongodb/laravel-mongodb, pull requests merged in 2025-01, with the labels that each got.

#3216 PHPORM-266 Run tests on Atlas Local
  .github/workflows/build-ci.yml
Labels: github

#3235 PHPORM-283 Add `Schema::dropSearchIndex()`
  src/Schema/Blueprint.php
  tests/SchemaTest.php
Labels: feature

#3237 Update param types in DocBlocks
  src/Eloquent/HybridRelations.php
Labels: bug

#3243 PHPORM-286 Add `Query::countByGroup()` and other `aggregateByGroup()` functions
  .github/workflows/build-ci.yml
  src/Query/Builder.php
  tests/QueryBuilderTest.php
Labels: feature

#3205 PHPORM-28 Add Scout engine to index into MongoDB Search
  .github/workflows/build-ci.yml
  composer.json
  docker-compose.yml
  phpstan-baseline.neon
  phpunit.xml.dist
  src/MongoDBServiceProvider.php
  src/Scout/ScoutEngine.php
  tests/ModelTest.php
  tests/Models/SchemaVersion.php
  tests/Scout/Models/ScoutUser.php
  tests/Scout/Models/SearchableInSameNamespace.php
  tests/Scout/Models/SearchableModel.php
  tests/Scout/ScoutEngineTest.php
  tests/Scout/ScoutIntegrationTest.php
Labels: github

#3245 PHPORM-287 Split Atlas Search CI workflow
  .github/workflows/build-ci-atlas.yml
  .github/workflows/build-ci.yml
  tests/AtlasSearchTest.php
  tests/Scout/ScoutIntegrationTest.php
Labels: github

#3247 DOCSP-45877: txn parallel ops not supported
  docs/transactions.txt
Labels: docs

#3250 DOCSP-45877: txn parallel ops not supported (#3247)
  docs/transactions.txt
Labels: docs

#3249 DOCSP-45877: txn parallel ops not supported (#3247)
  docs/transactions.txt
Labels: docs

#3254 DOCSP-45065: sessions documentation
  docs/eloquent-models/schema-builder.txt
  docs/index.txt
  docs/query-builder.txt
  docs/sessions.txt
Labels: docs

#3256 DOCSP-45065: sessions page quick fix
  docs/sessions.txt
Labels: docs
