Repository mongodb/laravel-mongodb, pull requests merged in 2025-04, with the labels that each got.

#3333 DOCSP-48956: replace tutorial link
  docs/quick-start.txt
  docs/quick-start/next-steps.txt
Labels: docs

#3339 DOCSP-48817: php v2 extension compat
  docs/compatibility.txt
Labels: docs

#3343 PHPORM-314 Use stable version of mongodb extension v2
  .github/workflows/build-ci-atlas.yml
  .github/workflows/build-ci.yml
Labels: github

#3344 DOCSP-49236: v5.3 release
  docs/compatibility.txt
  docs/includes/framework-compatibility-laravel.rst
Labels: docs

#3346 DOCSP-49217: disable id alias conversion in embedded docs
  docs/fundamentals/connection/connection-options.txt
  docs/query-builder.txt
  docs/upgrade.txt
Labels: docs

#3347 PHPORM-319 Make branch 4.x compatible with driver v2
  .github/workflows/build-ci.yml
  composer.json
  src/Connection.php
  src/Eloquent/Builder.php
  src/MongoDBServiceProvider.php
  src/Schema/Builder.php
  tests/QueryBuilderTest.php
Labels: feature, github

#3353 PHPORM-320 Fix aliasing .id field path to ._id
  .github/workflows/build-ci.yml
  src/Query/Builder.php
  tests/Query/BuilderTest.php
Labels: github

#3355 DOCSP-49293: feature compatibility joins
  docs/feature-compatibility.txt
Labels: docs

#3357 DOCSP-49294 Add MongoDB Extension 2.0 compat section
  docs/compatibility.txt
Labels: docs

#3364 DOCSP-49324: dedicated session handler
  docs/sessions.txt
Labels: docs

#3366 [5.x] Replaced a too strict assertion in DatabaseSessionHandler.php that prevented to use the sessions at all with a more simple sanity check. Test already failed on that, now they pass.
  .github/workflows/build-ci-atlas.yml
  .github/workflows/build-ci.yml
  phpunit.xml.dist
  src/Session/MongoDbSessionHandler.php
Labels: github

#3368 PHPORM-327 Fix invalid `assert` in `DatabaseSessionHandler::read()`
  .github/workflows/build-ci-atlas.yml
  .github/workflows/build-ci.yml
  phpunit.xml.dist
  src/Session/MongoDbSessionHandler.php
Labels: bug, github

#3363 Validate PSR namespaces in CI
  .github/workflows/coding-standards.yml
Labels: github

#3375 PHPORM-331 Fix test on job payload
  tests/QueueTest.php
Labels: bug
