Repository mongodb/laravel-mongodb, pull requests merged in 2025-03, with the labels that each got.

#3283 PHPORM-289 Support Laravel 12
  .github/workflows/build-ci-atlas.yml
  .github/workflows/build-ci.yml
  composer.json
  phpstan-baseline.neon
  src/Connection.php
  src/Schema/Blueprint.php
  src/Schema/BlueprintLaravelCompatibility.php
  src/Schema/Builder.php
  tests/Query/BuilderTest.php
  tests/RelationsTest.php
  tests/SchemaTest.php
Labels: github

#3292 DOCSP-46918: Rename Connection::getMongoDB to getDatabase
  docs/database-collection.txt
  docs/filesystems.txt
Labels: docs

#3299 Fix releasing from development branch
  .github/workflows/release.yml
Labels: github

#3297 DOCSP-48028: v5.2 release
  docs/compatibility.txt
  docs/filesystems.txt
  docs/fundamentals/aggregation-builder.txt
  docs/includes/framework-compatibility-laravel.rst
  docs/query-builder.txt
  docs/quick-start.txt
  docs/quick-start/download-and-install.txt
  docs/user-authentication.txt
Labels: docs

#3301 Merges the read operation reorganization into 5.2
  .github/workflows/release.yml
  docs/fundamentals/read-operations.txt
  docs/fundamentals/read-operations/modify-results.txt
  docs/fundamentals/read-operations/read-pref.txt
  docs/fundamentals/read-operations/retrieve.txt
  docs/fundamentals/read-operations/search-text.txt
  docs/fundamentals/write-operations.txt
  docs/includes/fundamentals/read-operations/before-you-get-started.rst
Labels: docs, github

#3261 DOCSP-46479: document Scout integration
  docs/index.txt
  docs/scout.txt
Labels: docs

#3304 DOCSP-48018: laravel 12 feature compat
  docs/eloquent-models/model-class.txt
  docs/feature-compatibility.txt
Labels: docs

#3312 Remove link to builder package/repo
  docs/fundamentals/aggregation-builder.txt
Labels: docs

#3315 fix line spacing in feature compat doc
  docs/feature-compatibility.txt
Labels: docs

#3319 PHPORM-306 Test with MongoDB Driver v2
  .github/workflows/build-ci-atlas.yml
  .github/workflows/build-ci.yml
  .github/workflows/coding-standards.yml
  .github/workflows/static-analysis.yml
  composer.json
  src/Eloquent/Builder.php
  tests/QueryBuilderTest.php
  tests/Scout/ScoutEngineTest.php
Labels: github
